.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100vh;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 100;

  &-clear { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__img {
      margin-bottom: 15px;
    }

    &__title { 
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      opacity: 0.4;
      max-width: 285px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-right: 32px;
      cursor: pointer;
    }
  }

  &-title {
    margin: 30px;

    img {
      cursor: pointer;
    }
  }

  &-carts {
    overflow: auto;
    margin: 10px;
    max-height: 700px;
  }

  &-total {
    margin: 30px;
    ul {
      display: block;
      margin-bottom: 40px !important;
  
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
  
        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }
      }
    }

    .greenButton {
      position: relative;
  
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
  
      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }
}



.greenButton {
  width: 90%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}