.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100vh;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  &-title {
    margin: 30px;
  }

  &-carts {
    flex: 1;
    overflow: auto;
    margin: 10px;
  }

  &-total {
    margin: 30px;
    ul {
      display: block;
      margin-bottom: 40px !important;
  
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
  
        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }
      }
    }

    .greenButton {
      position: relative;
  
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
  
      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
  border: 2px solid #EBEBEB;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;

  &-img {
    margin-right: 20px;
  }

  &-text {
    max-width: 200px;

    &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 5px;
    }

    &__price {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }
  
  &-button {
    cursor: pointer;
  }
}


.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}